* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

@import "./cdn";
@import "./variables";
@import "./mixin";
@import "./header.scss";
@import "./main.scss";

.none {
    display: none;
}
header{
    padding-bottom: 20px;
}
main {
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 50;
}

*i {
    cursor: pointer;
}
button {
    cursor: pointer;
    border: none;
}
textarea,
input {
    resize: none;
    border: 2px solid rgb(49, 167, 175);
    outline: none;
    display: block;
    padding: 5px;
}

output {
    display: block;
}
